/* Setup */
@import url('./setup/vars.css');
@import url('./setup/typography.css');
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@theme{
    --breakpoint-sm:750px;
    --breakpoint-md:950px;
    --breakpoint-lg:1130px;
    --breakpoint-xl:1440px;
}

/* Date Picker Customization */
.rangeEnd button,
.rangeStart button {
    @apply bg-gray-900 w-full h-full rounded-full;
}

.rangeStart.end-of-month,
.selected.end-of-month{
    @apply has-[button]:shadow-[1em_0px_0.6em_rgba(0,0,0,0.1)];
}
.rangeEnd.start-of-month,
.selected.start-of-month {
    @apply has-[button]:shadow-[-1em_0px_0.6em_rgba(0,0,0,0.1)];
}

.filter-place{
    @apply border-gray-100 hover:bg-gray-100 hover:rounded-xl hover:border-gray-100 hover:scale-110;
}

.filter-place-selected{
    @apply bg-gray-100 font-semibold scale-110 rounded-xl z-10;
}

.property-popup .mapboxgl-popup-content {
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.property-popup .mapboxgl-popup-tip {
    display: none !important;
}

.property-popup .mapboxgl-popup-close-button {
    right: 8px;
    top: 8px;
    font-size: 20px;
    color: #666;
}

.marker {
    z-index: 1;
    transition: z-index 0s;
}

.marker:hover {
    z-index: 10;
}

/* Basics */
@import url('./basics/base.css');
@import url('./basics/helpers.css');
@import url('./basics/layout.css');

/* Components */
@import url('./components/AppHeader.css');
