/* .app-layout {

    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1400px) minmax(1rem, 1fr);

    >*:not(.full) {

        grid-column: 2;
    }

    .full {

        grid-column: 1/-1;
    }
}

.main-section {

    width: 100vw;
} */